.topwrapper {
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 65% 25%;
    padding:3em 0 2em 0;
    border-bottom: solid 1px var(--grey-color);
        .logoimage {
            width:100%;
            position: relative;
        }
        .toplinks {
            display: flex;
            width:35vw;
            position: absolute;
            top:10.5%;
            right:32.5%;
            a {
                margin-right:1.5em;
                color:white;
                cursor:pointer;
                //har ikke brugt originel font-size, for at have bedre plads
                font-size: 15pt;
                font-weight: lighter;
                &:hover {
                    color: var(--green-color);
                }
            }
            .loginbutton {
                background-color: var(--green-color);
                border-radius: 4px;
                border:none;
                height:1.5em;
                width:5em;
                color: var(--darkgrey-color);
                font-size:16pt;
                font-weight: lighter;
            }
        }
        .topright {
            color: white;
            margin: -4.5vh 0 0 2vw;
            width: 29vw;
            svg {
                fill: var(--darkgrey-color);
                background-color: var(--green-color);
                height:3em;
                width:3em;
                border-radius: 8px;
                position: absolute;
                top: 9%;
                right: 5.5%;
                border: solid 1px var(--green-color);
            }
            .kontakt {
                font-size: 11pt;
                span {
                    margin: 1em;
                }

            }
            input {
                padding: 0.5em;
                margin-top: 1em;
                border-radius: 4px;
                width: 24vw;
                font-size: 15pt;
                background-color: #00f9b70e;
                border:solid 1px var(--green-color);
                color:var(--green-color);
                }
        
        }
}