@import "../../mixins.module.scss";

.topwrapper {
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 65% 25%;
    padding:3em 0 1em 0;
    //variabler er defineret i :root
    border-bottom: solid 1px var(--grey-color);
        .logoimage {
            width:100%;
            position: relative;
        }
        .toplinks {
            display: flex;
            width:35vw;
            position: absolute;
            top:11%;
            right:32.5%;
            a {
                text-decoration: none;
                margin-right:1.5em;
                color:white;
                cursor:pointer;
                //har ikke brugt originel font-size, for at have bedre plads
                font-size: 15pt;
                font-weight: lighter;
                &:hover {
                    color: var(--green-color);
                }
            }
            .loginbutton {
                @include loginbutton;
            }
        }
        .topright {
            color: white;
            margin: -3vh 0 0 2vw;
            width: 29vw;
            svg {
                fill: var(--darkgrey-color);
                background-color: var(--green-color);
                height:2em;
                width:2em;
                border-radius: 8px;
                position: absolute;
                top: 10.5%;
                right: 7%;
                border: solid 1px var(--green-color);
                cursor: pointer;
                &:hover {
                        background-color: var(--green-hover-color);
                    }
            }
            .kontakt {
                font-size: 10pt;
                .kontaktspan {
                    margin: 1em;
                }

            }
            input {
                width: 24vw;
                @include inputstyle;
                }
        
        }
        .logindiv{
            color:var(--green-color);
            position:absolute;
            top: 6%;
            right: 37%;
        }
}