.footerwrapper {
    background-color: var(--darkergrey-color);
    width:100%;
    position: absolute;
    bottom:0px;
    img {
        width:20%;
        display: block;
        margin: auto;
        padding:1em;
    }
}